@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");

:root {
  /* Ejada's Colors */
  --ejada-main-color: #001081;
  --ejada-secondary-color: #0000ff;
  --ejada-accent-color: #1fed93;
  /* Defaults */
  --white: #ffffff;
  --off-gray-color: #f8f8f8;
  --disabled-color: #f1f1f5;
  --off-blue-color: #f2f4ff;
  /* Text Colors */
  --ejada-text-color: #333333;
  --ejada-secondary-text-color: #666666;
  --ejada-error-text-color: #f8394a;
  --ejada-error-background-color: #fff5f6;
  --ejada-success-text-color: #58bf96;
  /* Buttons Colors */
  --primary-btn-color: #001081;
  --secondary-btn-color: #c5cfda;
  --danger-btn-color: #ed696a;
  /* Alerts Colors */
  --error-background-color: #fdedf0;
  --success-background-color: #e9fdf4;
  --caution-background-color: #fcf7e1;
  --info-background-color: #e2f2ff;
  --general-background-color: #e6e8e8;
  /* Toast Message Colors */
  --toast-background-color: #000000;
  /* Borders Color */
  --general-border-color: #a3a3a8;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Readex Pro", sans-serif;
  box-sizing: border-box;
}

p {
  margin: 0 !important;
}

html,
body {
  height: 100%;
}

/* ---- Start of Button Styles ---- */
.btn {
  cursor: pointer;
  min-width: 145px;
  padding: 9px 16px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  border-radius: 7px;
}

.btn-primary {
  background-color: var(--primary-btn-color);
  color: var(--white);
}

.btn-secondary {
  background-color: var(--secondary-btn-color);
  color: var(--ejada-text-color);
}

.btn-danger {
  background-color: var(--danger-btn-color);
  color: var(--white);
}

/* ---- End of Button Styles ---- */

/* ---- Start of Inputs Styles ---- */
.input-container {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-around;
  gap: 1rem;
  border: 1px solid var(--general-border-color);
  background: var(--white);
  border-radius: 7px;
}

.input-container .input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
}

.input-container.lg,
.input-container.md,
.input-container.sm,
.tag-input button,
.tag-input input {
  /* max-width: 327px; */
  padding: 12px 16px;
  /* margin: 24px; */
}

.input-container.lg {
  max-height: 56pt;
}

.input-container.md {
  max-height: 48pt;
}

.input-container.sm {
  max-height: 36pt;
}

.items-container {
  display: flex;
  gap: 10px;
}

.input-container select {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
}

.phone-container {
  border-radius: 7px;
  padding: 5px 15px;
  color: var(--ejada-secondary-text-color);
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;

  border: 1px solid var(--general-border-color);
}

.phone-container .input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.phone-container select {
  border: none;
  background: transparent;
  outline: none;
}

.textarea-container {
  min-height: 140px;
  border: 2px solid var(--general-border-color);
  border-radius: 7px;
  position: relative;
  overflow: scroll;
}

.textarea-container textarea {
  min-height: inherit;
  padding: 12px 16px;
  border: none;
  outline: none;
  resize: vertical;
  font-size: 14px;
  background: transparent;
  width: 100%;
  height: 100%;
}

.tag-container {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  align-items: center;
}

.tag-container .tag {
  background: var(--off-blue-color);
  color: var(--ejada-main-color);
  padding: 5px 8px;
  display: flex;
  gap: 0.1rem;
  font-size: 13px;
  border-radius: 1rem;
}

.tag-input {
  display: flex;
  gap: 1rem;
  flex-flow: row nowrap;
  align-items: center;
}

.tag-input button,
.tag-input input {
  border-radius: 7px;
}

.tag-input button {
  flex: 1;
  background: var(--ejada-main-color);
  color: var(--white);
  border: none;
}

.tag-input input {
  flex: 3;
  border-color: var(--ejada-main-color);
}

.input-container.selector {
  min-width: 200px;
  display: flex;
  align-items: center;
  border-radius: 7px;
  border: 2px solid var(--ejada-main-color);
}

.selector select {
  border: none;
  padding: 10px;
  background: var(--ejada-main-color);
  flex: 1;
  color: var(--white);
  height: 100%;
  border-right: 2px solid var(--ejada-main-color);
  outline: none;
}


.input-container.selector input {
  border: none;
  background: transparent;
  flex: 2;
  padding: 0 10px;
  height: 100%;
  outline: none;
}

.disabled .input-container,
.disabled .phone-container,
.disabled .textarea-container,
.disabled .tag-container {
  /* Disabled Version */
  background-color: var(--disabled-color);
}

/* ---- End of Input Styles ---- */

/* ---- Start of Checkbox Styles ---- */
.checkbox-container {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: 2px solid var(--general-border-color);
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-item {
  display: flex;
  align-items: start;
  gap: 10px;
}

.checkbox-container img {
  width: 100%;
  height: 100%;
  display: none;
}

.checkbox-container input[type="checkbox"] {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.checkbox-container.checked img {
  display: block;
}

.checkbox-container.lg {
  width: 24px;
  height: 24px;
}

.checkbox-container.md {
  width: 20px;
  height: 20px;
}

.checkbox-container.sm {
  width: 16px;
  height: 16px;
}

.checkbox-container.checked {
  border-color: var(--ejada-main-color);
  background-color: var(--ejada-main-color);
}

label:has(.checkbox-container) {
  display: flex;
  align-items: start;
  gap: 10px;
}
/* ---- End of Checkbox Styles ---- */

/* ---- Start of Selection List Styles ---- */
.selection-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.accordion-component label[for="tags"] ~ .selection-container,
.accordion-component label[for="password"] ~ .selection-container {
  /* Fix for tags selection list */
  /* flex-flow: row nowrap !important; */
  align-items: start;
}
/* ---- End of Selection List Styles ---- */

.flex-row {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.main-container {
  min-height: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.form-container {
  width: 100%;
  padding: 50px 70px;
}

.form-container li {
  list-style: none;
}

.form-container a {
  text-decoration: none;
}

.form-container .form-header {
  justify-content: space-between;
  margin: 30px 0px 70px;
}

.form-container .form-header .menu-list {
  gap: 30px;
}

.form-container .form-header .menu-list li a {
  color: var(--ejada-text-color);
}
.form-container .form-header .menu-list img {
  vertical-align: middle;
  width: 21px;
  padding-right: 4px;
}

.form-content {
  width: 100%;
}

.form-content > h4 {
  color: var(--ejada-main-color);
  font-size: 36px;
  margin-bottom: 50px;
}

.form-content .inputs-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--ejada-secondary-text-color);
}

.form-content input,
.form-input {
  width: 100%;
  border: 1px solid var(--ejada-main-color);
  border-radius: 7px;
  padding: 15px;
  margin-top: 15px;
  outline: none;
}
.error-x {
  display: none;
}
/* ---- validation ----- */
.inputs-container.error input,
.inputs-container.error .form-input {
  border: 1px solid var(--ejada-error-text-color);
}
.hide-password.error {
  display: none;
}
.error-x.show {
  display: block;
}
.error-msg-box {
  background-color: #fff5f6;
  border: 1px solid var(--ejada-error-text-color);
  margin: 20px 0px;

  border-radius: 7px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  display: none;
}
.error-msg-box p {
  font-size: 14px;
  color: #515151;
}

.error-msg-box.show {
  display: flex;
}
/* ----------- */
.form-content .form-input input {
  border: none;
  padding: 0;
  margin: 0;
}
.required-star {
  color: #be1e2d;
}

.form-content .form-end {
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 14px;
  color: var(--ejada-secondary-text-color);
  white-space: nowrap;
}

.form-content .form-end input {
  margin-right: 5px;
  margin-top: 0;
}

.form-content .form-end > p {
  color: var(--ejada-main-color);
}

.form-content .login-btn {
  width: 100%;
  background-color: var(--ejada-main-color);
  padding: 15px;
  border-radius: 7px;
  border: none;
  color: var(--white);
  margin-bottom: 50px;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.form-content .login-btn:hover {
  transform: scale(0.97);
  background: var(--ejada-secondary-color);
}

.capital-text {
  text-transform: uppercase;
}
.center-text {
  text-align: center;
}
.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: var(--ejada-secondary-text-color);
}

.form-footer span,
.form-footer div {
  color: var(--ejada-main-color);
}
.form-footer span a {
  text-decoration: none;
}
.form-footer div {
  gap: 10px;
}

.image-container {
  /* background-color: #f2f6ff; */
  width: 100%;
  position: relative;
}

.image-container > img {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}
.image-container .img img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  margin: -20px auto;
  padding: 30px;
}
/* Header */
header {
  max-width: 100%;
  height: 100px;
  padding: 50px auto;
}

.home-nav {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.start-menu,
.user-area {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: 1;
  gap: 2rem;
}

.user-area {
  justify-content: right;
}

.menu-list {
  list-style-type: none;
  display: flex;
  height: 100%;
  align-items: center;
  gap: 1rem;
}

.menu-item {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu-item .menu-link,
.menu-item p {
  text-decoration: none;
  font-weight: 300;
  color: var(--ejada-text-color);
}

.menu-item .menu-link > button {
  background: var(--ejada-main-color);
  color: var(--white);
  padding: 12px 32px;
  border: none;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.menu-item .flag-icon {
  height: 20px;
  width: 26px;
}
.menu-item .menu-link > button:hover {
  background: var(--ejada-secondary-color);
  transform: scale(0.97);
}

/* Main */

/* -------- Content Section -------- */
.content {
  display: flex;
  max-height: 100%;
  justify-content: space-around;
  /* align-items: center; */
  padding: 50px 60px;
  gap: 10rem;
}

.content-text {
  flex: 1;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
}

.content-text h1 {
  font-size: 64px;
  color: var(--ejada-main-color);
  font-weight: 500;
}

.content-text h4 {
  color: var(--ejada-secondary-color);
}

.content-text h6 {
  padding-top: 32px;
  font-weight: 300;
  font-size: 20px;
}

.content-image {
  flex: 1;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
}
.content-image img {
  max-width: 100%;
}

.get-started {
  display: flex;
  gap: 1rem;
  padding: 50px 0;
}

.filled,
.outlined {
  cursor: pointer;
  padding: 12px 32px;
  border-radius: 10px;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  transition: all 300ms ease-in-out;
}

.filled {
  background-color: var(--ejada-main-color);
  color: var(--white);
}

.filled:hover {
  background: var(--ejada-secondary-color);
  transform: scale(0.97);
}

.outlined {
  background-color: transparent;
  border: 2px solid var(--ejada-main-color);
  color: var(--ejada-main-color);
}

.outlined:hover {
  background-color: var(--ejada-secondary-color);
  border-color: var(--ejada-secondary-color);
  color: var(--white);
  transform: scale(0.97);
}

@media screen and (min-width: 1200px) {
  .form-container {
    padding: 50px 130px;
  }
}

/* Forgot Password */
#email.active {
  border: 1px solid var(--ejada-error-text-color);
}

.invalid-container {
  background-color: var(--ejada-error-background-color);
  display: flex;
  align-items: center;
  padding: 15px 20px;
  gap: 1rem;
  display: none;
  border: 1px solid var(--ejada-error-text-color);
  padding-top: 10px;
  border-radius: 10px;
}

.invalid-container p {
  font-size: 14px;
  font-weight: 400;
  color: var(--ejada-error-text-color);
}

#email.active .invalid-container {
  display: block !important;
}

/* Password Reset OTP */

.reset-container {
  text-align: center;
  line-height: 40px;
  color: var(--ejada-secondary-text-color);
}

.inputs-container > p > span,
.reset-container > p > span {
  color: var(--ejada-main-color);
  font-weight: 600;
}

.reset-container {
  text-align: center;
  line-height: 40px;
}

.otp-input-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.otp-input {
  flex: 1;
  width: 102px;
  height: 94px;
  background: var(--off-gray-color);
  outline: none;
  border: none !important;
  font-size: 20px;
  text-align: center;
}

.otp-input:active,
.otp-input:focus-visible {
  border: 2px solid var(--ejada-main-color) !important;
  animation: Breathing 1s infinite;
}

@keyframes Breathing {
  0% {
    border-width: 0;
  }
  100% {
    border-width: 3px;
  }
}

/* -----reset password validation list  -----*/
.validation-list ul li {
  color: var(--ejada-success-text-color);
  margin: 7px 0px;
}
.validation-list ul li img {
  vertical-align: middle;
  padding-right: 5px;
  margin-top: -2px;
}

.validation-list ul li.error {
  color: var(--ejada-error-text-color);
}
/* 
.validation-list {
  display: none;
} */

/* ---------------------- */

.hide {
  display: none;
}

.form-content .done-message {
  font-size: 22px;
  color: var(--ejada-main-color);
}
.user-area .menu-icon {
  display: none;
}
.menu-list-small {
  display: none;
}
.body-bg {
  display: none;
}
@media screen and (max-width: 1220px) {
  .content-text h1 {
    font-size: 48px;
  }
  .content {
    gap: 50px;
  }
  .content-text h6 {
    font-size: 18px;
  }

  .user-area .menu-list li:nth-child(2),
  .user-area .menu-list li:nth-child(3),
  .user-area .menu-list li:nth-child(5) {
    display: none;
  }
  .user-area .menu-icon {
    display: block;
  }
  .start-menu,
  .user-area {
    flex: none;
  }
  .menu-list-small {
    position: fixed;
    right: 0;
    top: 0;
    padding: 20px;
    padding-top: 70px;
    min-height: 100vh;
    background-color: white;
    width: 250px;
    /* display: block; */
  }
  .body-bg {
    min-width: 100%;
    min-height: 100vh;
    background-color: #1c1227d2;
    position: fixed;
    top: 0;
    left: 0;
  }
  .show {
    display: block;
  }
  .menu-list-small li {
    padding: 20px;
  }
  .menu-list-small li a:hover {
    color: var(--ejada-secondary-color);
  }
}

/* Youmna's changes */
.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.otp-input input {
  flex: 1;
  width: 102px;
  height: 94px;
  background: var(--off-gray-color);
  outline: none;
  border: none !important;
  font-size: 20px;
  text-align: center;
}

.otp-input input:active,
.otp-input input:focus-visible {
  border: 2px solid var(--ejada-main-color) !important;
  animation: Breathing 1s infinite;
}

/* Figma's changes */
.login-link button {
  background: transparent !important;
  border: 2px solid var(--ejada-main-color) !important;
  color: var(--ejada-main-color) !important;
}

.login-link button:hover {
  background: var(--ejada-secondary-color) !important;
  color: var(--white) !important;
  border-color: var(--ejada-secondary-color) !important;
}

/* ------------ start dashboard ----------------- */
.dashboard-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100%;
  position: relative;
}
.dashboard-container .main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* -------start sidebar -------*/
.dashboard-container .sidebar-container {
  width: 290px;
  min-height: 100%;
  background-color: var(--ejada-main-color);
  padding: 15px 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}
.dashboard-container .sidebar-container .logo {
  text-align: center;
}
.dashboard-container .sidebar-container .logo img:first-child {
  margin-bottom: 20px;
}

.dashboard-container .collapse-icon img {
  position: absolute;
  top: 108px;
  left: 265px;
  cursor: pointer;
}

/*! ----- for sidebar active nav style  */
/* .dashboard-container .sidebar-container .active-nav {
  background-color: var(--white);
  border-radius: 7px; 
  position: relative;
} */
/* 
.dashboard-container .sidebar-container .active-nav a {
  color: var(--ejada-main-color) !important;
} */
/* .dashboard-container .sidebar-container .active-nav img {
  filter: brightness(0) saturate(100%) invert(9%) sepia(44%) saturate(7468%)
    hue-rotate(232deg) brightness(102%) contrast(118%);
} */

.dashboard-container
  .sidebar-container
  .nav-list
  li:not(.sub-list li).active::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: var(--white);
  left: -40px;
  top: 0;
  border-radius: 7px;
}
/* ------end sidebar active nav style----- */

.dashboard-container .sidebar-container .nav-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dashboard-container .sidebar-container .nav-list a {
  color: var(--white);
  justify-content: space-between;
  flex-flow: column nowrap;
  align-items: start;
  padding: 15px 7px;
  text-decoration: none;
}
/* 
.dashboard-container .sidebar-container .nav-list a > ul {
  list-style-type: none;
}

.dashboard-container .sidebar-container .nav-list a img {
  margin-right: 8px;
}
.dashboard-container .sidebar-container .nav-list a > div.flex-row:first-child {
  width: 100%;
  justify-content: space-between;
}

.dashboard-container .sidebar-container .nav-list a > .sub-nav-list {
  display: none;
}

.dashboard-container .sidebar-container .nav-list a {
  gap: 10px;
  padding: 13px 5px;
  color: var(--white);
  font-size: 14px;
  text-decoration: none;
} */

.dashboard-container .sidebar-container .nav-list {
  border-top: 1px solid #ffffff;
  padding-top: 13px;
}

.dashboard-container .sidebar-container .nav-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.dashboard-container .sidebar-container .nav-container .nav-list {
  list-style-type: none;
}

.dashboard-container .sidebar-container .nav-list.bottom-nav li {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.dashboard-container .sidebar-container .nav-container .nav-list li.active {
  background: var(--white);
  border-radius: 7px;
  position: relative;
}

.dashboard-container .sidebar-container .nav-container .nav-list li a {
  font-size: 16px;
  width: 100%;
}

.dashboard-container .sidebar-container .nav-container .nav-list li.active a {
  color: var(--ejada-main-color);
}

.dashboard-container .sidebar-container .nav-container .nav-list li .sub-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 0 10px; */
  width: 100%;
  padding: 0 10px;
}

.dashboard-container
  .sidebar-container
  .nav-container
  .nav-list
  li
  .sub-item
  img {
  margin-right: 8px;
  width: 24px;
}

.dashboard-container
  .sidebar-container
  .nav-container
  .nav-list
  li.active
  .sub-item
  img:first-child {
  display: none;
}

.dashboard-container
  .sidebar-container
  .nav-container
  .nav-list
  li
  .sub-item
  .alter {
  display: none;
}

.dashboard-container
  .sidebar-container
  .nav-container
  .nav-list
  li.active
  .sub-item
  .alter {
  display: block;
}

.dashboard-container
  .sidebar-container
  .nav-container
  .nav-list
  .sub-item
  .arrow {
  width: 8px;
}

.dashboard-container
  .sidebar-container
  .nav-container
  .nav-list
  .sub-item
  .arrow-down {
  display: none;
  width: 18px;
}

.dashboard-container
  .sidebar-container
  .nav-container
  .nav-list
  li.active
  .arrow {
  display: none;
}

.dashboard-container
  .sidebar-container
  .nav-container
  .nav-list
  li.active
  .arrow-down {
  display: block;
}

.dashboard-container .sidebar-container .nav-container .nav-list .sub-list {
  display: none;
}

.dashboard-container
  .sidebar-container
  .nav-container
  .nav-list
  li.active
  .sub-list {
  display: block;
}

.dashboard-container .sidebar-container .nav-container .nav-list .sub-list {
  list-style: none;
  padding: 5px;
}

.dashboard-container .sidebar-container .nav-container .nav-list .sub-list li {
  padding: 10px 30px;
}

.dashboard-container
  .sidebar-container
  .nav-container
  .nav-list
  .sub-list
  li:hover {
  background: var(--ejada-main-color);
  border-radius: 7px;
}

.dashboard-container
  .sidebar-container
  .nav-container
  .nav-list
  .sub-list
  li:hover
  a {
  color: var(--white);
}
/* -------end sidebar -------*/

/* ------start collapsed side bar  */
.dashboard-container .collapsed-sidebar {
  display: flex;
  flex-direction: column;
  width: 100px;
  min-height: 100%;
  gap: 40px;
  align-items: center;
  box-shadow: 4px 0px 10px 0px #4040421f;
  position: relative;
  transition: all 300ms ease-in;
}
.dashboard-container .collapsed-sidebar .logo {
  margin: 40px 0px;
}
.dashboard-container .collapsed-sidebar a {
  padding: 7px 10px;
}
.dashboard-container .collapsed-sidebar a img {
  vertical-align: middle;
}
.dashboard-container .collapsed-sidebar .collapsed-icon {
  position: absolute;
  top: 108px;
  left: 75px;
  cursor: pointer;
  transform: scaleX(-1);
}

/* -----for collapsed sidebar active nav style  */
.dashboard-container .collapsed-sidebar .collapsed-active-nav {
  background-color: var(--ejada-main-color);
  border-radius: 7px;
  position: relative;
  transition: all 300ms ease-in;
}

.dashboard-container .collapsed-sidebar .collapsed-active-nav img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(12%) saturate(7452%)
    hue-rotate(195deg) brightness(109%) contrast(111%);
}
.dashboard-container .collapsed-sidebar .collapsed-active-nav::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: var(--ejada-main-color);
  left: -40px;
  top: 0px;
  border-radius: 7px;
}
/* ------end collapsed sidebar active nav style----- */
/* ------end collapsed side bar  */

/*------- start header ------*/
.dashboard-container .header {
  box-shadow: 0px 4px 10px 0px #4040421f;
  height: 80px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  color: var(--ejada-main-color);
}

.dashboard-container .header .user-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.dashboard-container .header .user-name {
  gap: 10px;
}
.dashboard-container .header .user-name .user-img {
  width: 40px;
  height: 40px;
}
.dashboard-container .header .language {
  gap: 10px;
}

.dashboard-container .header .tooltip-menu {
  display: none;
}

.tooltip-container {
  position: absolute;
  right: 195px;
  top: 85px;
  z-index: 9999999999;
  box-shadow: 0px 5px 20px 5px rgba(64, 64, 66, 0.102);
}

.dashboard-container .header .tooltip-menu.active {
  display: block;
  min-width: 200px;
  min-height: 192px;
  border-radius: 4px;
  background: var(--white);
  padding: 25px 15px;
}

.dashboard-container .header .tooltip-menu.active::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  rotate: 45deg;
  background: var(--white);
  right: 10px;
  top: 0;
  z-index: -1;
}

.dashboard-container .header .tooltip-menu ul {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.dashboard-container .header .tooltip-menu ul li {
  cursor: pointer;
  border-radius: 7px;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dashboard-container .header .tooltip-menu ul li a {
  text-decoration: none;
  color: #525dc1;
}

.dashboard-container .header .tooltip-menu ul li:hover a {
  color: var(--white);
}

.dashboard-container .header .tooltip-menu ul li:hover {
  background: var(--ejada-main-color);
}

.user-profile {
  cursor: pointer;
}

/*------- end header ------*/
.dashboard-container .dashboard-content {
  padding: 30px;
}

.hide {
  display: none !important;
}

/* ------------ end dashboard ----------------- */

/* ------------ Start Users list ----------------- */
.user-path {
  display: flex;
  gap: 1rem;
  margin-bottom: 35px;
}

.user-path span {
  font-weight: 500;
}

.user-path .inactive {
  color: var(--ejada-secondary-text-color);
}

.user-path .active {
  color: var(--ejada-secondary-color);
}

.user-list.container > h4 {
  font-size: 29px;
  font-weight: 700;
  color: var(--ejada-main-color);
}

.user-list.container .filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}

.user-list.container .filters .search-container {
  display: flex;
  width: 280px;
  height: 42px;
  align-items: center;
  border: 2px solid #949499;
  border-radius: 7px;
  padding: 8px 18px;
}

.user-list.container .filters .search-container input {
  border: none;
  outline: none;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #949499;
}

.user-list.container .filters .utilities {
  display: flex;
  gap: 1rem;
  align-items: center;
position: relative;
}

.user-list.container .filters .utilities .filter-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  border-radius: 7px;
  cursor: pointer;
  background: transparent;
  border: 2px solid var(--ejada-main-color);
  transition: all 0.3s ease;
  position: relative;
  color: var(--ejada-main-color);
}

.user-list.container .filters .utilities .filter-btn .ruler {
  width: 1.3px;
  height: 23px;
  background: var(--ejada-main-color);
}

.user-list.container .filters .utilities .filter-btn .filters-used {
  border-radius: 1rem;
  width: 20px;
  height: 20px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--ejada-main-color);
  color: var(--white);
}
 .table-filters {
  min-width: 100%;
  height: auto;
  margin: 20px 0;
  padding: 23px;
  background: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid var();
  display: none;
  flex-flow: row wrap;
  gap: 1rem;
  border-radius: 7px;
  border: 2px solid var(--ejada-main-color);
}

.table-filters.active{
  display: flex;
}

.table-filters .filter-component{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-basis: 25%;
  flex-grow: 1;
}


.user-list.container .filters .functions {
  display: flex;
  gap: 1rem;
}

.user-list.container .filters .functions > button {
  background: transparent;
  color: var(--white);
  padding: 12px 25px;
  border: 2px solid var(--ejada-main-color);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--ejada-main-color);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.user-list.container .filters .functions > button:nth-child(even) {
  background-color: var(--ejada-main-color);
  color: var(--white);
}

.user-list.container .filters .functions > .back-btn {
  border: none;
  padding: 0;
}

.user-list.container .filters .functions > .delete-btn {
  background: transparent !important;
  color: var(--ejada-error-text-color) !important;
  border-color: var(--ejada-error-text-color);
}

table {
  margin-top: -10px;
  width: 100%;
  position: relative;
  border-collapse: separate; /* Separate borders between cells */
  border-spacing: 0 10px; /* 10px spacing between rows, 0 spacing between columns */
}

thead {
  position: sticky;
  top: 0;
  z-index: 9999;
}

th,
td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  /* Align content to the top */
}

th {
  background-color: #f2f2f2;
  min-width: 40px; /* Set a minimum width for the first column */
  min-height: 45px;
}
tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tr {
  position: relative;
}

/* td:first-child,
th:first-child {
  border-top-left-radius: 8px;
}
td:last-child,
th:last-child {
  border-top-right-radius: 8px;
}
tbody td:first-child {
  border-bottom-left-radius: 8px;
}
tbody td:last-child {
  border-bottom-right-radius: 8px;
} */

.group {
  border-radius: 20px;
  padding: 5px 8px;
  font-size: 11px;
}

.group.a-group {
  background: #c7e3d2;
}

.group.b-group {
  background: #b3dfef;
}

.group-assigned {
  width: 16px;
  height: 16px;
  font-size: 10px;
  border-radius: 20px;
  color: var(--white);
  padding: 1px 4px 1px 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--general-border-color);
}

.options-column {
  position: relative;
  text-align: center;
}

.options-column > .options-container {
  position: relative;
  display: inline-block;
  z-index: 99;
}

.options-menu {
  min-width: 150px;
  min-height: fit-content;
  position: absolute; /* Position the menu absolutely */
  top: calc(100% - 30px); /* Position the menu below the options column */
  left: 50%; /* Position the menu horizontally centered */
  transform: translateX(-110%); /* Center the menu horizontally */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  display: none; /* Hide the menu by default */
}

.options-menu::after {
  content: "";
  position: absolute;
  top: 10%;
  right: -5px;
  width: 20px;
  height: 20px;
  background: var(--white);
  rotate: 45deg;
  z-index: -1 !important;
}

.options-column.active .options-menu {
  display: block;
}

.options-column > .options-container > .options-menu > ul {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  z-index: 99;
}

.options-column > .options-container > .options-menu > ul > li {
  width: 100%;
  position: relative;
  text-align: left;
  border-bottom: 1px solid #e6e8e8;
}

.options-column > .options-container > .options-menu > ul > li > a {
  width: 100%;
  padding: 10px 30px;
  display: block;
  text-decoration: none;
  color: #525dc1;
}

.options-column > .options-container > .options-menu > ul > li:hover {
  background: #e6e8e8;
}

.options-column > .options-container > .options-menu > ul > li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.options-column > .options-container > .options-menu > ul > li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.options-column > .active-btn {
  border: none;
  background: transparent;
}

td.table-img {
  gap: 10px;
}
/*--------- table foter----------- */
.table-footer {
  border: 1px solid #d1d4d4;
  padding: 10px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  align-items: center;
  justify-content: space-between;
  font-size: 11px;
}
.display-count {
  border: 1px solid #d1d4d4;
  border-radius: 10px;
  background: transparent;
  padding: 3px 8px;
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.display-count div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.table-footer div {
  gap: 10px;
  color: var(--ejada-secondary-text-color);
}

.table-footer div span {
  color: var(--ejada-text-color);
}

.pagination-pages {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination-pages li {
  margin-right: 10px;
}

.pagination-pages a {
  text-decoration: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e6e8e8;
  color: #111;
  border-radius: 8px;
  transition: background-color 0.3s;
  height: 30px;
  width: 30px;
}

.pagination-pages a.active {
  background-color: var(--ejada-main-color);
  color: #fff;
}
.pagination-pages a.disabled {
  background-color: #e6e8e8;
}
.table-footer .pagination-arrows {
  gap: 50px;
}

/* ------------table scrollbar -----------*/
/* .options-column {
  max-height: 500px;
  overflow-y: scroll;
} */
.options-column::-webkit-scrollbar {
  background-color: #f2f2f2;
  width: 9px;
}
.options-column::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--general-border-color);
  border: 3px solid #f2f2f2;
}
/* --------table status styles  -----------*/
.status-active > div {
  border: 2px solid #0c7945;
  padding: 5px;
  border-radius: 4px;
  text-align: right;
  padding-right: 15px;
  color: #0c7945;
  position: relative;
  width: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.status-active > div::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #4bc181;
  /* position: absolute;
  left: 15px;
  top: 7px; */
  border-radius: 50%;
}

.status-inactive > div {
  border: 2px solid var(--general-border-color);
  padding: 5px;
  border-radius: 4px;
  text-align: right;
  padding-right: 15px;
  color: #59595c;
  position: relative;
  width: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.status-inactive > div::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--general-border-color);
  /* position: absolute;
  left: 18px;
  top: 7px; */
  border-radius: 50%;
}
table td {
  font-size: 12px;
}
/* table td:nth-child(2) {
  color: var(--ejada-secondary-color);
  text-decoration: underline;
} */

/* ------ start create new user group----- */
.head-function {
  justify-content: space-between;
}
.head-function > h4 {
  font-size: 29px;
  font-weight: 700;
  color: var(--ejada-main-color);
}

.functions-list {
  gap: 10px;
}
.functions-list a {
  text-decoration: none;
  color: var(--ejada-main-color);
}
.primary-btn {
  background: transparent;
  color: var(--white);
  padding: 10px 20px;
  border: 1px solid var(--ejada-main-color);
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  color: var(--ejada-main-color);
  border-radius: 10px;
  cursor: pointer;
}
.secondary-btn {
  color: var(--white);
  padding: 10px 20px;
  border: 1px solid var(--ejada-main-color);
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--ejada-main-color);
  color: var(--white);
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.card-container {
  padding: 20px;
  border: 1px solid #d1d4d4;
  border-radius: 7px;
  margin: 30px 0px;
}
.card-container > h4 {
  color: var(--ejada-main-color);
  margin-bottom: 10px;
}

.details-box .form-inputs {
  margin-top: 40px;
  width: 100%;
  gap: 15px;
}

.details-box .form-inputs > div {
  width: 100%;
}
.details-box .form-inputs div .secondary-btn {
  padding: 9px 15px;
  margin-left: 5px;
}
.details-box .form-inputs .input {
  border: 1px solid var(--general-border-color);
  padding: 10px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
}
/*---- result in group admin box ---- */
.details-box .group-admin-box {
  position: relative;
}
.details-box .group-admin-box .show-result {
  font-size: 12px;
  position: absolute;
  top: 45px;
  background-color: var(--off-blue-color);
  padding: 2px 5px;
  border-radius: 7px;
}
.details-box .group-admin-box .show-result img {
  vertical-align: middle;
}
.details-box .description-box {
  margin-top: 30px;
  width: 360px;
  position: relative;
}
.details-box .description-box .optional-text {
  font-size: 12px;
  color: var(--ejada-secondary-text-color);
}
.details-box .description-box textarea {
  border: 1px solid var(--general-border-color);
  border-radius: 7px;
  margin-top: 5px;
  padding: 10px;
  overflow-y: scroll;
  height: 100px;
  width: 100%;
}
input:focus,
textarea:focus {
  outline: none;
}
.details-box .input:focus,
.details-box textarea:focus {
  outline: var(--ejada-main-color);
  border: 1px solid var(--ejada-main-color) !important;
}

.textarea-foot {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: var(--ejada-secondary-text-color);
}
.textarea-foot p:last-child {
  color: var(--general-border-color);
}
.details-box .description-box textarea::-webkit-scrollbar {
  background-color: #ffffff;
  width: 8px;
}

.details-box .description-box textarea::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--general-border-color);
  border: 3px solid #ffffff;
}
.details-box .description-box::after {
  position: absolute;
  content: url(../assets/icons/copy.png);
  top: 30px;
  right: 10px;
}

.users-box {
  max-width: 100%;
}

.users-utilities {
  overflow: hidden;
  display: flex;
  align-items: start;
  gap: 1rem;
  position: relative;
}

.available-users,
.group-users {
  width: 100%;
  min-height: 460px;
  border: 1px solid #d1d4d4;
  border-radius: 7px;
  padding: 15px 25px;
  margin-top: 20px;
}

.available-users > div:first-child,
.group-users > div:first-child {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.available-users > div > div > img,
.group-users > div > div > img {
  max-width: 20%;
}

.available-users > div > div,
.group-users > div > div {
  display: flex;
  gap: 10px;
}

.available-users > div > div > p,
.group-users > div > div > p {
  color: var(--ejada-main-color);
  font-size: 18px;
}

.available-users > div > p,
.group-users > div > p {
  color: var(--ejada-secondary-text-color);
}

.available-input {
  margin: 10px 0;
  max-width: 100%;
  border-radius: 7px;
  padding-left: 16px;
  min-height: 48px;
  display: flex;
  border: 1px solid #d1d4d4;
}

.available-input input {
  width: 100%;
  border: none;
  padding-left: 10px;
}

.users-data {
  display: flex;
  gap: 1rem;
  flex-flow: column nowrap;
}

.user {
  display: flex;
  padding: 15px 9px;
}

.user:nth-child(even) {
  background: #f3f7ff;
}

.user > div:nth-child(even) > h6 {
  font-size: 16px;
  color: #404042;
}

.user > div:nth-child(even) > p {
  color: #404042;
  font-size: 14px;
}

.users-options {
  display: flex;
  padding: 0 20px;
  height: 50vh;
  gap: 1rem;
  justify-content: center;
  flex-flow: column nowrap;
}

.users-options button {
  width: 132px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 7px;
  background: var(--ejada-main-color);
  color: #fff;
  border: none;
}

.users-options button:nth-child(even) {
  background-color: transparent;
  border: 1px solid var(--ejada-main-color);
  color: var(--ejada-main-color);
}

/* ------ end create new user group----- */
/* ------ start create new user ----- */
.head-function .functions-container {
  justify-content: space-between;
  margin-top: 20px;
}
.head-function .functions-container .search-box {
  border: 1px solid #949499;
  padding: 10px;
  border-radius: 7px;
  width: 250px;
  gap: 10px;
}
.head-function .functions-container .search-box input {
  border: none;
  /* width: 100%; */
}
.head-function .functions-container .search-box input:focus {
  outline: none;
}
/* ------ end create new user ----- */

/* ------ Start Tabs ----- */
.tabs-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  align-items: center;
}

.tabs-container span {
  cursor: pointer;
  color: var(--general-border-color);
  font-size: 16px;
  font-weight: 600;
  position: relative;
}

.tabs-container span.active-tab {
  color: var(--ejada-main-color);
}

.tabs-container span.active-tab::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -10px;
  left: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: var(--ejada-main-color);
}

/* ------ start loader ----- */
.loader {
  width: 100%;
  height: 100vh;
  background: var(--white);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999999;
  transition: all 0.3s ease-in-out;
}

.loader.loader-hidden {
  visibility: hidden;
  opacity: 0;
}

.loader::after {
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 15px solid #ddd;
  border-top-color: var(--ejada-secondary-color);
  animation: loader 1s forwards infinite;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------ end loader ----- */

/* ------ Start Accordion ----- */
.accordion-container {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.accordion {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  overflow: hidden;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: var(--off-blue-color);
  padding: 14px;
  position: relative;
  border-radius: 2px 10px 10px 2px;
}

.accordion-header::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background: var(--ejada-main-color);
  left: 0;
  border-radius: 10px;
}

.accordion-title {
  font-size: 16px;
  font-weight: 600;
  color: var(--ejada-main-color);
}

.accordion-icon {
  width: 10px;
  transform: rotate(0);
}

.accordion.active-accordion .accordion-header {
  background: var(--general-background-color);
}

.accordion.active-accordion .accordion-header::before {
  background: var(--ejada-secondary-text-color);
}

.accordion.active-accordion .accordion-title {
  color: var(--ejada-secondary-text-color);
}

.accordion.active-accordion .accordion-icon {
  transform: rotate(-90deg);
}

.accordion-body {
  max-width: 100%;
  min-height: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  overflow: hidden;
  grid-template-rows: auto auto auto;
  gap: 1rem;
}

.accordion.active-accordion .accordion-body {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.accordion-component {
  flex: 1;
  flex-basis: 25%;
  display: flex;
  overflow-x: hidden;
  flex-flow: column;
  gap: 0.5rem;
}

.accordion-container .accordion .accordion-body .accordion-component label {
  font-size: 14px;
  font-weight: 400;
}

.required {
  color: red;
}

.optional {
  color: var(--general-border-color);
}

.accordion-container
  .accordion
  .accordion-body
  .accordion-component
  .selection-list-container {
  flex: 2;
  border: 1px solid #a3a3a8;
  padding: 16px;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 10px;
}

.accordion-container
  .accordion
  .accordion-body
  .accordion-component
  .selection-list-container
  .selection-list-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}

.selection-list-container .selection-list-header .selection-list-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--ejada-main-color);
}

.selection-list-container .selection-list-header .selection-list-count {
  font-size: 14px;
  font-weight: 400;
  color: var(--ejada-secondary-text-color);
}

.selection-list-container .selection-list-body {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.selection-list-container .selection-list-body .selection-search {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #a3a3a8;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
}

.selection-list-container .selection-list-body .selection-search input {
  border: none !important;
  padding: 0 !important;
  width: 100%;
}

.selection-list-container .selection-list-body .selection-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.selection-list-container .selection-list-body .selection-list .selection-item {
  padding: 15px 10px;
}

.selection-list-container
  .selection-list-body
  .selection-list
  .selection-item
  .selection-label {
  cursor: pointer;
}

.selection-list-container
  .selection-list-body
  .selection-list
  .selection-item
  .selection-label
  .selection-name {
  font-size: 14px;
  font-weight: 600;
  color: var(--ejada-text-color-color);
}

.selection-list-container
  .selection-list-body
  .selection-list
  .selection-item
  .selection-label
  .selection-email {
  font-size: 12px;
  font-weight: 400;
  color: var(--ejada-secondary-text-color);
}

.selection-list-container
  .selection-list-body
  .selection-list
  .selection-item:has(.checkbox-container.checked) {
  background-color: #f3f7ff;
}

.accordion-container
  .accordion
  .accordion-body
  .accordion-component
  .selection-actions {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-flow: column nowrap;
}

.selection-name {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: start;
}

/* File Input */
input[type="file"] {
  border: 0;
  display: none;
}

.custom-btn {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  background: #c5cfda;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 9px 21px;
  border-radius: 10px;
  color: #404042;
}

.no-file-chosen {
  font-size: 14px;
  font-weight: 400;
  color: #111;
}

.no-file-chosen.uploaded {
  display: none;
}

.accordion-container .accordion .accordion-body .accordion-component .m-img {
  width: 75px;
}

.upload-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* End File Input */

/* Drag and Drop Component */
.drag-component {
  margin: 54px 0;
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 7px;
  font-weight: 600;
  border: 2px dashed var(--ejada-main-color);
  background: var(--off-blue-color);
}

.drag-component .drag-content {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: center;
}

.drag-component .drag-content h4 {
  color: var(--general-border-color);
  font-weight: 400;
}

.drag-component .drag-content button {
  padding: 9px 18px;
  background: var(--ejada-main-color);
  color: var(--white);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
