@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");

:root {
  /* Ejada's Colors */
  --ejada-main-color: #001081;
  --ejada-secondary-color: #0000ff;
  --ejada-accent-color: #1fed93;
  /* Defaults */
  --white: #ffffff;
  /* Text Colors */
  --ejada-text-color: #333333;
  --ejada-secondary-text-color: #666666;
  --ejada-error-text-color: #f8394a;
  --ejada-success-text-color: #58bf96;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Readex Pro", sans-serif;
}

html,
body {
  height: 100%;
}

/* Header */
header {
  max-width: 100%;
  height: 100px;
  padding: 50px auto;
}

nav {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.start-menu,
.user-area {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: 1;
  gap: 2rem;
}

.user-area {
  justify-content: right;
}

.menu-list {
  list-style-type: none;
  display: flex;
  height: 100%;
  align-items: center;
  gap: 1rem;
}

.menu-item {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu-item .menu-link,
.menu-item p {
  text-decoration: none;
  font-weight: 300;
  color: var(--ejada-text-color);
}

.menu-item .menu-link > button {
  background: var(--ejada-main-color);
  color: var(--white);
  padding: 12px 32px;
  border: none;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-item .menu-link > button:hover{
  background: var(--ejada-secondary-color);
  transform: scale(0.97);
}

/* Main */

/* -------- Content Section -------- */
.content {
  display: flex;
  max-height: 100%;
  justify-content: space-around;
  /* align-items: center; */
  padding: 50px 60px;
  gap: 10rem;
}

.content-text {
  flex: 1;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
}

.content-text h1{
  font-size: 64px;
  color: var(--ejada-main-color);
  font-weight: 500;
}

.content-text h4{
  color: var(--ejada-secondary-color);
}

.content-text h6{
  padding-top: 32px;
  font-weight: 300;
  font-size: 20px;
}

.content-image {
  flex: 1;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
}

.content-image img {
  max-width: 100%;
}
