@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");

:root {
  /* Ejada's Colors */
  --ejada-main-color: #001081;
  --ejada-secondary-color: #0000ff;
  --ejada-accent-color: #1fed93;
  /* Defaults */
  --white: #ffffff;
  /* Text Colors */
  --ejada-text-color: #333333;
  --ejada-secondary-text-color: #666666;
  --ejada-error-text-color: #f8394a;
  --ejada-success-text-color: #58bf96;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Readex Pro", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.flex-row {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.main-container {
  min-height: 100%;
  display: flex;
}

.form-container {
  width: 100%;
  padding: 50px 70px;
}

.form-container li {
  list-style: none;
}
.form-container a {
  text-decoration: none;
}

.form-container .form-header {
  justify-content: space-between;
  margin: 30px 0px 70px;
}
.form-container .form-header .menu-list {
  gap: 30px;
}
.form-container .form-header .menu-list li a {
  color: #353535;
}
.form-container .form-header .menu-list img {
  vertical-align: middle;
  width: 21px;
  padding-right: 4px;
}

.form-content {
  width: 100%;
}
.form-content > h4 {
  color: var(--ejada-main-color);
  font-size: 36px;
  margin-bottom: 50px;
}
.form-content .inputs-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--ejada-secondary-text-color);
}
.inputs-container input,
.inputs-container .form-input {
  width: 100%;
  border: 1px solid var(--ejada-main-color);
  border-radius: 7px;
  padding: 15px;
  margin-top: 15px;
  outline: none;
}
.error-x {
  display: none;
}
/* ---- validation ----- */
.inputs-container.error input,
.inputs-container.error .form-input {
  border: 1px solid var(--ejada-error-text-color);
}
.hide-password.error {
  display: none;
}
.error-x.show {
  display: block;
}
.error-msg-box {
  background-color: #fff5f6;
  border: 1px solid var(--ejada-error-text-color);
  margin: 20px 0px;

  border-radius: 7px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  display: none;
}
.error-msg-box p {
  font-size: 14px;
  color: #515151;
}

.error-msg-box.show {
  display: flex;
}
/* ----------- */
.form-content .form-input input {
  border: none;
  padding: 0;
  margin: 0;
}
.required-star {
  color: #be1e2d;
}
.form-content .form-end {
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 10px;
  font-size: 14px;
  color: var(--ejada-secondary-text-color);
  white-space: nowrap;
}
.form-content .form-end input {
  margin-right: 5px;
  margin-top: 0;
}
.form-content .form-end > p {
  color: var(--ejada-main-color);
}
.form-content .login-btn {
  width: 100%;
  background-color: var(--ejada-main-color);
  padding: 15px;
  border-radius: 7px;
  border: none;
  color: var(--white);
  margin-bottom: 50px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.form-content .login-btn:hover {
  transform: scale(0.97);
  background: var(--ejada-secondary-color);
}

.capital-text {
  text-transform: uppercase;
}
.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: var(--ejada-secondary-text-color);
}
.form-footer span,
.form-footer div {
  color: var(--ejada-main-color);
}
.form-footer div {
  gap: 10px;
}
.image-container {
  background-color: #f2f6ff;
  width: 100%;
}
.image-container img {
  width: 100%;
  margin: 150px auto;
  padding: 50px;
}
/* Header */
header {
  max-width: 100%;
  height: 100px;
  padding: 50px auto;
}

.home-nav {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.start-menu,
.user-area {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: 1;
  gap: 2rem;
}

.user-area {
  justify-content: right;
}

.menu-list {
  list-style-type: none;
  display: flex;
  height: 100%;
  align-items: center;
  gap: 1rem;
}

.menu-item {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu-item .menu-link,
.menu-item p {
  text-decoration: none;
  font-weight: 300;
  color: var(--ejada-text-color);
}

.menu-item .menu-link > button {
  background: var(--ejada-main-color);
  color: var(--white);
  padding: 12px 32px;
  border: none;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-item .menu-link > button:hover {
  background: var(--ejada-secondary-color);
  transform: scale(0.97);
}

/* Main */

/* -------- Content Section -------- */
.content {
  display: flex;
  max-height: 100%;
  justify-content: space-around;
  /* align-items: center; */
  padding: 50px 60px;
  gap: 10rem;
}

.content-text {
  flex: 1;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
}

.content-text h1 {
  font-size: 64px;
  color: var(--ejada-main-color);
  font-weight: 500;
}

.content-text h4 {
  color: var(--ejada-secondary-color);
}

.content-text h6 {
  padding-top: 32px;
  font-weight: 300;
  font-size: 20px;
}

.content-image {
  flex: 1;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
}
.content-image img {
  max-width: 100%;
}

@media screen and (min-width: 1200px) {
  .form-container {
    padding: 50px 130px;
  }
}
